.Post{
    width: 100%;
    margin-top: 15px;
    border-radius:15px;
    background-color: white;
    box-shadow:0px 5px 7px -7px rgba(0, 0, 0, 0.75);   
}

.Post__top{
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}

.Post__avatar{
    margin-right: 10px;
}

.Post__image>img{
width: 100%;
}

.Post__topInfo >h3{
    font-size: medium;
}

.Post__topInfo >p{
    font-size: small;
    color: gray;
}
.Post__bottom{
margin-top: 10px;
margin-bottom: 10px;
padding: 15px 25px;
}

.Post__options{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    border-top: 1px solid lightgray;
    font-size: medium;
    color: gray;
    cursor: pointer;
    padding: 15px;
}
.Post__option{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}
.Post__option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
}